## .NET ビルド成果物
bin/
obj/

## ユーザー固有の設定ファイル
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser

## JetBrains Rider
.idea/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## macOS
.DS_Store
